/* line 14, ../../../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 4, scss/screen.scss */
body {
  background-color: #abc4ce;
  font-family: 'VT323';
}

/* line 9, scss/screen.scss */
#background {
  display: block;
  clear: both;
  position: absolute;
  height: 585px;
  width: 2800px;
  background: #35e5f0 url("/images/buildings.png") repeat-x bottom left;
  border-bottom: 2px solid #c4d6dd;
}

/* line 22, scss/screen.scss */
#main-container {
  width: 2800px;
  height: 653px;
  position: relative;
  display: block;
  overflow: hidden;
}

/* line 33, scss/screen.scss */
.block {
  display: inline;
  position: relative;
  float: left;
  height: 660px;
  width: auto;
  margin: 0;
  padding: 0;
}

/* line 43, scss/screen.scss */
.trophy-container {
  display: inline;
  position: relative;
  float: left;
  width: auto;
  height: auto;
}

/* line 52, scss/screen.scss */
.text {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 19px;
  width: 460px;
  margin: 115px 0 0 10px;
  line-height: 21px;
  text-shadow: 1px 1px 1px #8c8c8c;
}

/* line 68, scss/screen.scss */
#win {
  position: absolute;
  display: inline;
  margin: 290px 0 0 0;
  z-index: 3;
}

/* line 75, scss/screen.scss */
#features {
  margin: 148px 0 0 0;
}

/* line 79, scss/screen.scss */
.clouds {
  margin: 80px 0 0 1080px;
  display: inline;
  float: left;
  position: absolute;
  clear: both;
}

/* line 91, scss/screen.scss */
.highlight {
  color: #fff465;
}

/* line 95, scss/screen.scss */
.dev {
  color: #00ff8b;
}

/* line 99, scss/screen.scss */
.note {
  color: #898989;
  font-size: 20px;
}

/* line 109, scss/screen.scss */
#block-1 {
  margin: 0 0 0 130px;
  height: 650px;
  width: auto;
  position: relative;
  display: inline;
  float: left;
}
/* line 118, scss/screen.scss */
#block-1 #logo {
  clear: both;
  display: block;
  position: relative;
  margin: 15px 0 15px 0;
  padding: 0;
  text-align: center;
  clear: both;
}
/* line 126, scss/screen.scss */
#block-1 #logo img {
  padding: 0;
  margin: 0;
}
/* line 134, scss/screen.scss */
#block-1 #iphone {
  display: inline;
  position: relative;
  float: left;
  width: auto;
  height: auto;
  z-index: 1;
  margin: 0;
  padding: 0;
}
/* line 145, scss/screen.scss */
#block-1 #iphone #iphone-body {
  display: inline;
  position: relative;
  float: left;
  max-height: 516px;
  overflow: hidden;
}
/* line 155, scss/screen.scss */
#block-1 #iphone #iphone-content .screen {
  display: inline;
  position: absolute;
  left: 0;
  float: left;
  margin: 93px 0 0 22px;
  z-index: 5;
}
/* line 163, scss/screen.scss */
#block-1 #iphone #iphone-content .hidden {
  display: none;
}

/* line 174, scss/screen.scss */
#block-2 {
  display: inline;
  position: relative;
  float: left;
  height: 650px;
  width: auto;
  margin: 0 0 0 60px;
  padding: 0;
}
/* line 184, scss/screen.scss */
#block-2 #trophy-parade {
  display: block;
  position: relative;
  height: 588px;
  width: auto;
}
/* line 192, scss/screen.scss */
#block-2 #trophy-parade .trophies {
  padding: 280px 0 0 0;
  overflow: none;
}
/* line 197, scss/screen.scss */
#block-2 #trophy-parade #trophy-1 {
  margin: 75px 0 0 0;
}
/* line 199, scss/screen.scss */
#block-2 #trophy-parade #trophy-1 a {
  color: pink;
}
/* line 204, scss/screen.scss */
#block-2 #trophy-parade #trophy-2 {
  margin: 80px 0 0 0;
}
/* line 208, scss/screen.scss */
#block-2 #trophy-parade #trophy-3 {
  margin: 1px 0 0 0;
}
/* line 212, scss/screen.scss */
#block-2 #trophy-parade #trophy-4 {
  margin: 42px 0 0 0;
}
/* line 215, scss/screen.scss */
#block-2 #trophy-parade #trophy-5 {
  margin: 1px 0 0 0;
}
/* line 220, scss/screen.scss */
#block-2 #runner-container {
  display: block;
  position: absolute;
  height: 60px;
  background-color: magenta;
}
/* line 227, scss/screen.scss */
#block-2 #runner-container #runner {
  position: fixed;
  background-color: green;
  width: auto;
  margin: 16px 0 0 12px;
  clear: both;
}
/* line 236, scss/screen.scss */
#block-2 #runner-container #runner ul {
  display: inline;
  float: left;
  padding: 0;
  margin: 0;
}
/* line 242, scss/screen.scss */
#block-2 #runner-container #runner li {
  display: inline;
  float: left;
  margin: 0;
}
/* line 246, scss/screen.scss */
#block-2 #runner-container #runner li .spacer {
  padding: 0 0 0 10px;
}

/* line 259, scss/screen.scss */
#block-3 {
  margin: 0 0 0 80px;
}
/* line 263, scss/screen.scss */
#block-3 #note {
  margin: 205px 0 0 22px;
  width: 280px;
  color: #898989;
  font-size: 20px;
  line-height: 26px;
}
/* line 270, scss/screen.scss */
#block-3 #note span {
  padding: 0;
  margin: 0;
  word-spacing: 0;
}
/* line 276, scss/screen.scss */
#block-3 #note #section-1 {
  margin: 0 0 20px 0;
}
/* line 280, scss/screen.scss */
#block-3 #note #section-2 {
  margin: 0 0 20px 0;
  text-shadow: 1px 1px 1px white;
}
/* line 285, scss/screen.scss */
#block-3 #note #section-3 {
  text-shadow: 1px 1px 1px white;
}
/* line 292, scss/screen.scss */
#block-3 #paper {
  margin: 160px 0 0 0;
}
