/* line 14, ../../../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 4, scss/screen.scss */
body {
  background-color: #abc4ce;
  font-family: 'VT323';
}

/* line 9, scss/screen.scss */
.clearfix {
  display: block;
  clear: both;
}

/* line 14, scss/screen.scss */
#background {
  display: block;
  clear: both;
  position: absolute;
  height: 585px;
  width: 2735px;
  background: #35e5f0 url("/images/buildings.png") repeat-x bottom left;
  border-bottom: 2px solid #c4d6dd;
}

/* line 26, scss/screen.scss */
#main-container {
  width: 2735px;
  height: 669px;
  position: relative;
  display: block;
  overflow: hidden;
}

/* line 36, scss/screen.scss */
.block {
  display: inline;
  position: relative;
  float: left;
  height: 660px;
  width: auto;
  margin: 0;
  padding: 0;
}

/* line 46, scss/screen.scss */
.trophy-container {
  display: inline;
  position: relative;
  float: left;
  width: auto;
  height: auto;
}

/* line 60, scss/screen.scss */
.clouds {
  margin: 80px 0 0 1080px;
  display: inline;
  float: left;
  position: absolute;
  clear: both;
}

/* line 68, scss/screen.scss */
#win {
  position: absolute;
  display: inline;
  margin: 290px 0 0 0;
  z-index: 3;
}

/* line 90, scss/screen.scss */
#text-1 {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 20px;
  margin: 135px 0 0 5px;
  line-height: 21px;
  font-weight: 100;
  text-shadow: 1px 1px 1px #bbbbbb;
  width: 466px;
  margin-left: 13px;
}

/* line 98, scss/screen.scss */
#text-2 {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 20px;
  margin: 135px 0 0 5px;
  line-height: 21px;
  font-weight: 100;
  text-shadow: 1px 1px 1px #bbbbbb;
  margin: 168px 0 0 0;
  width: 450px;
}

/* line 109, scss/screen.scss */
.highlight {
  color: #fff465;
}

/* line 113, scss/screen.scss */
.dev {
  color: #00ff8b;
}

/* line 117, scss/screen.scss */
.note {
  color: #898989;
  font-size: 20px;
}

/* line 128, scss/screen.scss */
#block-1 {
  margin: 0 0 0 130px;
  height: 650px;
  width: auto;
  position: relative;
  display: inline;
  float: left;
}
/* line 136, scss/screen.scss */
#block-1 #flag {
  position: relative;
  display: block;
  margin: 16px 0 0 61px;
  clear: both;
}
/* line 141, scss/screen.scss */
#block-1 #flag #flag-1 {
  position: absolute;
}
/* line 144, scss/screen.scss */
#block-1 #flag #flag-2 {
  display: none;
  position: absolute;
}
/* line 150, scss/screen.scss */
#block-1 #logo {
  clear: both;
  display: block;
  position: relative;
  margin: 40px 0 15px 0;
  padding: 0;
  text-align: center;
  clear: both;
}
/* line 158, scss/screen.scss */
#block-1 #logo img {
  padding: 0;
  margin: 0;
}
/* line 166, scss/screen.scss */
#block-1 #iphone {
  display: inline;
  position: relative;
  float: left;
  width: auto;
  height: auto;
  z-index: 1;
  margin: 0;
  padding: 0;
}
/* line 176, scss/screen.scss */
#block-1 #iphone #iphone-body {
  display: inline;
  position: relative;
  float: left;
  max-height: 516px;
  overflow: hidden;
}
/* line 186, scss/screen.scss */
#block-1 #iphone #iphone-content .screen {
  display: inline;
  position: absolute;
  left: 0;
  float: left;
  margin: 93px 0 0 22px;
  z-index: 5;
}
/* line 194, scss/screen.scss */
#block-1 #iphone #iphone-content .hidden {
  display: none;
}

/* line 202, scss/screen.scss */
#focus-container {
  display: inline;
  position: relative;
  float: left;
  height: auto;
}

/* line 209, scss/screen.scss */
#block-container {
  display: block;
  position: relative;
  height: auto;
  overflow: hidden;
  width: auto;
}

/* line 221, scss/screen.scss */
#block-2 {
  display: inline;
  position: relative;
  float: left;
  height: auto;
  width: auto;
  margin: 0 0 0 60px;
  padding: 0;
}
/* line 231, scss/screen.scss */
#block-2 #trophy-parade {
  display: block;
  position: relative;
  height: 588px;
  width: auto;
}
/* line 239, scss/screen.scss */
#block-2 #trophy-parade .trophies {
  padding: 280px 0 0 0;
  overflow: none;
}
/* line 243, scss/screen.scss */
#block-2 #trophy-parade #trophy-1 {
  margin: 75px 0 0 0;
}
/* line 245, scss/screen.scss */
#block-2 #trophy-parade #trophy-1 a {
  color: white;
  text-decoration: underline;
}
/* line 249, scss/screen.scss */
#block-2 #trophy-parade #trophy-1 a:hover {
  color: #fff465;
  text-decoration: none;
}
/* line 255, scss/screen.scss */
#block-2 #trophy-parade #trophy-2 {
  margin: 80px 0 0 0;
}
/* line 259, scss/screen.scss */
#block-2 #trophy-parade #trophy-3 {
  margin: 1px 0 0 0;
}
/* line 263, scss/screen.scss */
#block-2 #trophy-parade #trophy-4 {
  margin: 42px 0 0 0;
}
/* line 266, scss/screen.scss */
#block-2 #trophy-parade #trophy-5 {
  margin: 1px 0 0 0;
}

/* line 277, scss/screen.scss */
#block-3 {
  margin: 0 0 0 60px;
  display: inline;
  position: relative;
  height: auto;
  float: left;
}
/* line 285, scss/screen.scss */
#block-3 #note {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 20px;
  margin: 135px 0 0 5px;
  line-height: 21px;
  font-weight: 100;
  text-shadow: 1px 1px 1px #bbbbbb;
  margin: 205px 0 0 22px;
  width: 280px;
  color: #898989;
  font-size: 20px;
  line-height: 26px;
}
/* line 293, scss/screen.scss */
#block-3 #note span {
  padding: 0;
  margin: 0;
  word-spacing: 0;
}
/* line 299, scss/screen.scss */
#block-3 #note #section-1 {
  margin: 0 0 20px 0;
  text-shadow: 1px 1px 1px #bbbbbb;
}
/* line 304, scss/screen.scss */
#block-3 #note #section-2 {
  margin: 0 0 20px 0;
  text-shadow: 1px 1px 1px white;
}
/* line 309, scss/screen.scss */
#block-3 #note #section-3 {
  text-shadow: 1px 1px 1px white;
}
/* line 316, scss/screen.scss */
#block-3 #paper {
  margin: 160px 0 0 0;
}

/* line 325, scss/screen.scss */
#runner-container {
  display: block;
  position: relative;
  height: auto;
  width: 100%;
  float: left;
  margin: 0;
}
/* line 334, scss/screen.scss */
#runner-container #runner-left {
  display: inline;
  position: relative;
  width: 652px;
  height: auto;
  float: left;
  padding: 0 0 0 75px;
}
/* line 342, scss/screen.scss */
#runner-container #runner-left #runner-line-1, #runner-container #runner-left #runner-line-2 {
  width: auto;
  height: auto;
  display: block;
  position: relative;
}
/* line 351, scss/screen.scss */
#runner-container #runner-left #form form {
  clear: none;
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
  text-align: left;
}
/* line 360, scss/screen.scss */
#runner-container #runner-left #form input[type="text"] {
  background: url("/images/bottom/submit_field.png");
  width: 253px;
  height: 36px;
  border: none;
  font-family: 'VT323';
  font-size: 16px;
  padding: 0 0 0 10px;
  float: left;
}
/* line 371, scss/screen.scss */
#runner-container #runner-left #form input[type="submit"] {
  background: url("/images/bottom/submit.png");
  width: 112px;
  height: 40px;
  border: none;
  padding: none;
  float: left;
}
/* line 378, scss/screen.scss */
#runner-container #runner-left #form input[type="submit"]:active {
  background: url("/images/bottom/submit_click.png");
}
/* line 384, scss/screen.scss */
#runner-container #runner-left #split {
  display: inline;
  position: relative;
  margin: 0 10px 0 10px;
  float: left;
}
/* line 391, scss/screen.scss */
#runner-container #runner-left #blog {
  width: 95px;
  height: 40px;
  float: left;
  margin: 0 3px 0 0;
}
/* line 396, scss/screen.scss */
#runner-container #runner-left #blog input[type="button"] {
  background: url("/images/bottom/blog.png");
  border: none;
  width: 95px;
  height: 40px;
}
/* line 401, scss/screen.scss */
#runner-container #runner-left #blog input[type="button"]:active {
  background: url("/images/bottom/blogpress.png");
}
/* line 406, scss/screen.scss */
#runner-container #runner-left #email {
  display: inline;
  float: left;
  margin: 0 3px 0 0;
}
/* line 410, scss/screen.scss */
#runner-container #runner-left #email input[type="button"] {
  background: url("/images/bottom/email.png");
  border: none;
  width: 93px;
  height: 40px;
}
/* line 415, scss/screen.scss */
#runner-container #runner-left #email input[type="button"]:active {
  background: url("/images/bottom/emailpress.png");
}
/* line 420, scss/screen.scss */
#runner-container #runner-left #twitter {
  display: inline;
  float: left;
}
/* line 423, scss/screen.scss */
#runner-container #runner-left #twitter input[type="button"] {
  background: url("/images/bottom/twitter.png");
  border: none;
  width: 39px;
  height: 40px;
}
/* line 428, scss/screen.scss */
#runner-container #runner-left #twitter input[type="button"]:active {
  background: url("/images/bottom/twitterpress.png");
}
/* line 434, scss/screen.scss */
#runner-container #runner-left #now-hiring {
  width: 89px;
  height: 30px;
  float: right;
}
/* line 441, scss/screen.scss */
#runner-container #runner-right {
  display: inline;
  position: relative;
  width: 76px;
  height: auto;
  float: right;
}
/* line 448, scss/screen.scss */
#runner-container #runner-right #email-right {
  display: inline;
  float: right;
}
/* line 451, scss/screen.scss */
#runner-container #runner-right #email-right input[type="button"] {
  background: url("/images/bottom/emailus.png");
  border: none;
  width: 76px;
  height: 20px;
}
/* line 456, scss/screen.scss */
#runner-container #runner-right #email-right input[type="button"]:active {
  background: url("/images/bottom/emailuspress.png");
}
