/* line 14, ../../../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 4, scss/screen.scss */
body {
  background-color: #abc4ce;
  font-family: 'VT323';
}

/* line 9, scss/screen.scss */
.clearfix {
  display: block;
  clear: both;
}

/* line 14, scss/screen.scss */
#background {
  display: block;
  clear: both;
  position: absolute;
  height: 585px;
  width: 2735px;
  background: #35e5f0 url("/images/buildings.png") repeat-x bottom left;
  border-bottom: 2px solid #c4d6dd;
}

/* line 27, scss/screen.scss */
#main-container {
  width: 2735px;
  height: 642px;
  position: relative;
  display: block;
  overflow: hidden;
}

/* line 38, scss/screen.scss */
.block {
  display: inline;
  position: relative;
  float: left;
  height: 660px;
  width: auto;
  margin: 0;
  padding: 0;
}

/* line 48, scss/screen.scss */
.trophy-container {
  display: inline;
  position: relative;
  float: left;
  width: auto;
  height: auto;
}

/* line 62, scss/screen.scss */
.clouds {
  margin: 80px 0 0 1080px;
  display: inline;
  float: left;
  position: absolute;
  clear: both;
}

/* line 70, scss/screen.scss */
#win {
  position: absolute;
  display: inline;
  margin: 290px 0 0 0;
  z-index: 3;
}

/* line 92, scss/screen.scss */
#text-1 {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 20px;
  margin: 135px 0 0 5px;
  line-height: 21px;
  font-weight: 100;
  text-shadow: 1px 1px 1px #bbbbbb;
  width: 466px;
  margin-left: 13px;
}

/* line 100, scss/screen.scss */
#text-2 {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 20px;
  margin: 135px 0 0 5px;
  line-height: 21px;
  font-weight: 100;
  text-shadow: 1px 1px 1px #bbbbbb;
  margin: 168px 0 0 0;
  width: 450px;
}

/* line 111, scss/screen.scss */
.highlight {
  color: #fff465;
}

/* line 115, scss/screen.scss */
.dev {
  color: #00ff8b;
}

/* line 119, scss/screen.scss */
.note {
  color: #898989;
  font-size: 20px;
}

/* line 130, scss/screen.scss */
#block-1 {
  margin: 0 0 0 130px;
  height: auto;
  width: auto;
  position: relative;
  display: inline;
  float: left;
}
/* line 139, scss/screen.scss */
#block-1 #flag {
  position: absolute;
  display: inline;
  clear: both;
  margin: 13px 0 0 63px;
  clear: both;
}
/* line 147, scss/screen.scss */
#block-1 #flag-1 {
  position: absolute;
}
/* line 150, scss/screen.scss */
#block-1 #flag-2 {
  display: none;
  position: absolute;
}
/* line 155, scss/screen.scss */
#block-1 #logo {
  clear: both;
  display: block;
  position: relative;
  margin: 10px 0 15px 0;
  padding: 0;
  text-align: center;
  width: 267px;
  clear: both;
}
/* line 163, scss/screen.scss */
#block-1 #logo img {
  padding: 0;
  margin: 0;
}
/* line 171, scss/screen.scss */
#block-1 #iphone {
  display: block;
  position: relative;
  clear: both;
  float: left;
  width: auto;
  height: auto;
  z-index: 1;
  margin: 0;
  padding: 0;
}
/* line 183, scss/screen.scss */
#block-1 #iphone #iphone-body {
  display: inline;
  position: relative;
  float: left;
  max-height: 516px;
  overflow: hidden;
}
/* line 193, scss/screen.scss */
#block-1 #iphone #iphone-content .screen {
  display: inline;
  position: absolute;
  left: 0;
  float: left;
  margin: 93px 0 0 22px;
  z-index: 5;
}
/* line 201, scss/screen.scss */
#block-1 #iphone #iphone-content .hidden {
  display: none;
}

/* line 209, scss/screen.scss */
#focus-container {
  display: inline;
  position: relative;
  float: left;
  height: auto;
}

/* line 216, scss/screen.scss */
#block-container {
  display: block;
  position: relative;
  height: auto;
  overflow: hidden;
  width: auto;
  margin: 0 0 0 60px;
}

/* line 229, scss/screen.scss */
#block-2 {
  display: inline;
  position: relative;
  float: left;
  height: auto;
  width: auto;
  margin: 0 0 0 100px;
  margin: 0;
  padding: 0;
}
/* line 240, scss/screen.scss */
#block-2 #trophy-parade {
  display: block;
  position: relative;
  height: 588px;
  width: auto;
}
/* line 248, scss/screen.scss */
#block-2 #trophy-parade .trophies {
  padding: 280px 0 0 0;
  overflow: none;
}
/* line 252, scss/screen.scss */
#block-2 #trophy-parade #trophy-1 {
  margin: 75px 0 0 0;
}
/* line 254, scss/screen.scss */
#block-2 #trophy-parade #trophy-1 a {
  color: white;
  text-decoration: underline;
}
/* line 258, scss/screen.scss */
#block-2 #trophy-parade #trophy-1 a:hover {
  color: #fff465;
  text-decoration: none;
}
/* line 264, scss/screen.scss */
#block-2 #trophy-parade #trophy-2 {
  margin: 80px 0 0 0;
}
/* line 268, scss/screen.scss */
#block-2 #trophy-parade #trophy-3 {
  margin: 1px 0 0 0;
}
/* line 272, scss/screen.scss */
#block-2 #trophy-parade #trophy-4 {
  margin: 42px 0 0 0;
}
/* line 275, scss/screen.scss */
#block-2 #trophy-parade #trophy-5 {
  margin: 1px 0 0 0;
}

/* line 286, scss/screen.scss */
#block-3 {
  margin: 0 0 0 60px;
  display: inline;
  position: relative;
  height: auto;
  float: left;
}
/* line 294, scss/screen.scss */
#block-3 #note {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 20px;
  margin: 135px 0 0 5px;
  line-height: 21px;
  font-weight: 100;
  text-shadow: 1px 1px 1px #bbbbbb;
  margin: 205px 0 0 22px;
  width: 280px;
  color: #898989;
  font-size: 20px;
  line-height: 26px;
}
/* line 302, scss/screen.scss */
#block-3 #note span {
  padding: 0;
  margin: 0;
  word-spacing: 0;
}
/* line 308, scss/screen.scss */
#block-3 #note #section-1 {
  margin: 0 0 20px 0;
  text-shadow: 1px 1px 1px #bbbbbb;
}
/* line 313, scss/screen.scss */
#block-3 #note #section-2 {
  margin: 0 0 20px 0;
  text-shadow: 1px 1px 1px white;
}
/* line 318, scss/screen.scss */
#block-3 #note #section-3 {
  text-shadow: 1px 1px 1px white;
}
/* line 325, scss/screen.scss */
#block-3 #paper {
  margin: 160px 0 0 0;
}

/* line 334, scss/screen.scss */
#runner-container {
  display: block;
  position: relative;
  height: auto;
  width: 100%;
  float: left;
  margin: 0;
}
/* line 343, scss/screen.scss */
#runner-container #runner-left {
  display: inline;
  position: relative;
  width: 652px;
  height: auto;
  float: left;
  padding: 0 0 0 75px;
}
/* line 351, scss/screen.scss */
#runner-container #runner-left #runner-line-1, #runner-container #runner-left #runner-line-2 {
  width: auto;
  height: auto;
  display: block;
  position: relative;
}
/* line 360, scss/screen.scss */
#runner-container #runner-left #form form {
  clear: none;
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
  text-align: left;
}
/* line 369, scss/screen.scss */
#runner-container #runner-left #form input[type="text"] {
  background: url("/images/bottom/submit_field.png");
  width: 253px;
  height: 36px;
  border: none;
  font-family: 'VT323';
  font-size: 16px;
  padding: 0 0 0 10px;
  float: left;
}
/* line 380, scss/screen.scss */
#runner-container #runner-left #form input[type="submit"] {
  background: url("/images/bottom/submit.png");
  width: 112px;
  height: 40px;
  border: none;
  padding: none;
  float: left;
}
/* line 387, scss/screen.scss */
#runner-container #runner-left #form input[type="submit"]:active {
  background: url("/images/bottom/submit_click.png");
}
/* line 393, scss/screen.scss */
#runner-container #runner-left #split {
  display: inline;
  position: relative;
  margin: 0 10px 0 10px;
  float: left;
}
/* line 400, scss/screen.scss */
#runner-container #runner-left #blog {
  width: 95px;
  height: 40px;
  float: left;
  margin: 0 3px 0 0;
}
/* line 405, scss/screen.scss */
#runner-container #runner-left #blog input[type="button"] {
  background: url("/images/bottom/blog.png");
  border: none;
  width: 95px;
  height: 40px;
}
/* line 410, scss/screen.scss */
#runner-container #runner-left #blog input[type="button"]:active {
  background: url("/images/bottom/blogpress.png");
}
/* line 415, scss/screen.scss */
#runner-container #runner-left #email {
  display: inline;
  float: left;
  margin: 0 3px 0 0;
}
/* line 419, scss/screen.scss */
#runner-container #runner-left #email input[type="button"] {
  background: url("/images/bottom/email.png");
  border: none;
  width: 93px;
  height: 40px;
}
/* line 424, scss/screen.scss */
#runner-container #runner-left #email input[type="button"]:active {
  background: url("/images/bottom/emailpress.png");
}
/* line 429, scss/screen.scss */
#runner-container #runner-left #twitter {
  display: inline;
  float: left;
}
/* line 432, scss/screen.scss */
#runner-container #runner-left #twitter input[type="button"] {
  background: url("/images/bottom/twitter.png");
  border: none;
  width: 39px;
  height: 40px;
}
/* line 437, scss/screen.scss */
#runner-container #runner-left #twitter input[type="button"]:active {
  background: url("/images/bottom/twitterpress.png");
}
/* line 444, scss/screen.scss */
#runner-container #runner-right {
  display: inline;
  position: relative;
  width: 76px;
  height: auto;
  float: right;
}
/* line 451, scss/screen.scss */
#runner-container #runner-right #email-right {
  display: inline;
  float: right;
}
/* line 454, scss/screen.scss */
#runner-container #runner-right #email-right input[type="button"] {
  background: url("/images/bottom/emailus.png");
  border: none;
  width: 76px;
  height: 20px;
}
/* line 459, scss/screen.scss */
#runner-container #runner-right #email-right input[type="button"]:active {
  background: url("/images/bottom/emailuspress.png");
}

/* line 474, scss/screen.scss */
#bottom-container {
  display: block;
  position: relative;
  width: 967px;
  height: auto;
  clear: both;
  margin: 0 0 0 155px;
}
/* line 483, scss/screen.scss */
#bottom-container #copyright {
  position: relative;
  display: inline;
  margin: 6px 0 0 0;
  color: #d2dfe4;
  color: #cdd6da;
  line-height: 30px;
  vertical-align: bottom;
}
/* line 492, scss/screen.scss */
#bottom-container #copyright a {
  color: #cdd6da;
  text-decoration: none;
}
/* line 496, scss/screen.scss */
#bottom-container #copyright a:hover {
  text-decoration: underline;
  color: #fff465;
}
/* line 503, scss/screen.scss */
#bottom-container #now-hiring {
  position: relative;
  display: inline;
  height: auto;
  width: auto;
  vertical-align: top;
  float: right;
  height: 30px;
}
/* line 512, scss/screen.scss */
#bottom-container #now-hiring img {
  width: 89px;
  height: 30px;
  overflow: hidden;
}
