/* line 14, ../../../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 3, scss/screen.scss */
body {
  background-color: #948a81;
}

/* line 7, scss/screen.scss */
#content-container {
  position: relative;
  margin: 0 auto;
  width: 800px;
  padding: 0;
  height: auto;
}
/* line 14, scss/screen.scss */
#content-container header {
  display: block;
  margin: 0;
  padding: 10px 0 30px 0;
  height: auto;
}
/* line 21, scss/screen.scss */
#content-container header #logo {
  margin: 0 0 0 36px;
  padding: 0;
}
/* line 24, scss/screen.scss */
#content-container header #logo img {
  padding: 0;
  margin: 0;
}
/* line 31, scss/screen.scss */
#content-container #main {
  display: block;
  height: 514px;
}
/* line 35, scss/screen.scss */
#content-container #main #iphone {
  display: inline;
  position: static;
  float: left;
  width: auto;
  height: auto;
}
/* line 44, scss/screen.scss */
#content-container #main #iphone-content .screen {
  display: inline;
  position: absolute;
  left: 0;
  float: left;
  margin: 93px 0 0 23px;
  z-index: 5;
}
/* line 52, scss/screen.scss */
#content-container #main #iphone-content .hidden {
  visibility: hidden;
}
/* line 57, scss/screen.scss */
#content-container #main #right-content {
  display: inline;
  float: left;
  width: auto;
  height: 5em;
  margin: 0 0 0 55px;
}
/* line 63, scss/screen.scss */
#content-container #main #right-content #copy {
  margin: 38px 0 0 0;
}
/* line 66, scss/screen.scss */
#content-container #main #right-content #shelf {
  margin: 24px 0 0 0;
}
/* line 72, scss/screen.scss */
#content-container footer {
  display: block;
  height: 10em;
  margin-top: 95px;
}
/* line 77, scss/screen.scss */
#content-container footer #footer-container {
  width: 515px;
  height: 76px;
  margin: 0 auto;
  line-height: 0.9em;
}
/* line 84, scss/screen.scss */
#content-container footer #footer-container #line-1 {
  display: inline-block;
  margin: 0;
  line-height: 0.5;
}
/* line 88, scss/screen.scss */
#content-container footer #footer-container #line-1 img {
  margin: 0;
  padding: 0;
}
/* line 93, scss/screen.scss */
#content-container footer #footer-container #line-2 {
  display: inline-block;
  float: left;
}
/* line 96, scss/screen.scss */
#content-container footer #footer-container #line-2 #more {
  display: inline;
  float: left;
  margin: 0 7px 0 0;
}
/* line 101, scss/screen.scss */
#content-container footer #footer-container #line-2 #email {
  display: inline;
  float: left;
  margin: 0 8px 0 0;
}
/* line 106, scss/screen.scss */
#content-container footer #footer-container #line-2 #twitter {
  display: inline;
  float: left;
}
