@import "base";
@import "compass/css3";

body {
	background-color: #abc4ce;
	font-family: 'VT323';
}

.clearfix {
	display: block;
	clear:both;
}

#background {
	display:block;
    clear:both;
	position: absolute;    
	height: 585px;
	// width: 2990px;
	width: 2800px;	
	background: #35e5f0 url('/images/buildings.png') repeat-x bottom left;
	border-bottom: 2px solid #c4d6dd;	
}



#main-container {
	// width: 2990px; 
	width: 2800px;		
	height: 653px;
	position: relative;
	display: block;
	// background-color: pink;
	overflow: hidden;

}

.block {
	display: inline;
	position: relative;
	float: left;
	height: 660px;
	width: auto;
	margin: 0;
	padding: 0;
}

.trophy-container {
	display: inline;
	position: relative;    
	float: left;
	width: auto;
	height: auto;
	// background-color: green;
}



// ==========
// = Extras =
// ==========
.clouds {
	margin: 80px 0 0 1080px;
	display: inline;
	float: left;
	position: absolute;
	clear: both;
}

#win {
	position: absolute;
	display: inline;
	margin: 290px 0 0 0;
	z-index: 3;
}


// ==============
// = Text blobs =
// ==============
@mixin text {
	position: absolute;
	z-index: 2;
	color: white;
	font-size: 19px;
	margin: 115px 0 0 5px;
	line-height: 21px;
	@include text-shadow(1px,1px, 1px, #8c8c8c);	
}

#text-1 {
	@include text;
	width: 430px;
}

#text-2 {
	@include text;
	margin: 148px 0 0 0;
	width: 450px;
}



// ===============
// = Text styles =
// ===============
.highlight {
	color: #fff465;
}

.dev {
	color: #00ff8b;
}

.note {
	color: #898989;
	font-size: 20px;
	
}



// ===========
// = Block-1 =
// ===========
#block-1 {
	margin: 0 0 0 130px;
	height: 650px;
	width: auto;
	position: relative;
	display: inline;
	float: left;
	// background-color: red;
	#flag {
		position: relative;
		display:block;
		margin: 16px 0 0 61px;
		clear: both;
		#flag-1 {
			position: absolute;
		}
		#flag-2 {
			display: none;
			position: absolute;
		}			
	}
	
	#logo {
		clear: both;
		display: block;
		position: relative;
		margin: 40px 0 15px 0;
		padding: 0;
		// background-color: blue;
		text-align: center;
		img {
			padding: 0;
			margin: 0;
			// background-color: red;
		}		
		clear: both;	
	}
	
	#iphone {
		display: inline;
		position: relative;
		float: left;
		width: auto;
		height: auto;
		z-index: 1;
		// background-color: green;
		margin: 0;
		padding: 0;
		
		#iphone-body {
			display: inline;
			position: relative;
			float: left;
			max-height: 516px;
			overflow:hidden;
			
		}
		
		#iphone-content {
			.screen {
				display: inline;
				position: absolute;
				left: 0;
				float:left;
				margin: 93px 0 0 22px;
				z-index: 5;
			}
			.hidden {
				display:none;
			}
		}
	}
}


// ===========
// = Block-2 =
// ===========
#block-2 {
	display: inline;
	position: relative;
	float: left;
	height: 650px;
	width: auto;
	margin: 0 0 0 60px;
	padding: 0;
	// background-color: white;
	
	#trophy-parade {
		display: block;
		position: relative;
		height: 588px;
		width: auto;
		// background-color: orange;
		
		// margin: 173px 0 0 0;
		.trophies {	
			padding: 280px 0 0 0;
			overflow:none;
			// float:left;
		}
		#trophy-1 {
			margin: 75px 0 0 0;
			a {
				color: #3261b7;
			}			
		}
		#trophy-2 {
			margin: 80px 0 0 0;
			// background-color: green;
		}
		#trophy-3 {
			margin: 1px 0 0 0;
			// background-color: pink;	
		}
		#trophy-4 {
			margin: 42px 0 0 0;
		}
		#trophy-5 {
			margin: 1px 0 0 0;
		}
	}
	
	#runner-container {
		display: block;
		position: absolute;
		height: auto;
		// width: 100%;
		background-color: magenta;

		#runner {
			// display: inline;
			position: fixed;
			width: 750px;
			height: auto;
			margin: 16px 0 0 12px;
			// float: left;
			clear: both;
			ul {
				display: inline;
				float: left;
				padding: 0;
				margin: 0;
			}
			li {
				display: inline;
				float: left;
				margin: 0;
				
				#split {
					display: inline;
					position: relative;
					padding: 0 10px 0 10px;
				}
				.spacer {
					padding: 0 0 0 10px; 
				
				#blog {
					width: 95px;
					height: 40px;
					background: url('/images/bottom/blog.png');
					input[type="button"] {
						background: url('/images/bottom/blog.png');

						&:active {
							background: url('/images/bottom/blogpress.png');
						}	
					}
				}
				#email {
					
				}
				#twitter {
					
				}
					
					
				}
			input[type="text"] {
				background: url('/images/bottom/submit_field.png') ;
				width: 263px;
				height:36px;
				border:none;
				font-family: 'VT323';
				font-size: 16px;
				
			}
			input[type="submit"] {
				background: url('/images/bottom/submit.png');
				width: 112px;
				height:40px;
				&:active {
					background: url('/images/bottom/submit_click.png');
				}
			}
			}
		}
	}	
}



// ===========
// = Block-3 =
// ===========
#block-3 {
	// background-color: blue;
	margin: 0 0 0 80px;

	#note {
		@include text;
		margin: 205px 0 0 22px;
		width: 280px;
		color: #898989;
		font-size: 20px;
		line-height: 26px;

		span {
			padding: 0;
			margin: 0;
			word-spacing: 0;
		}

		#section-1 {
			margin: 0 0 20px 0;
		}
		
		#section-2 {
			margin: 0 0 20px 0;
			@include text-shadow(1px, 1px, 1px, white);	
		}
		
		#section-3 {
			@include text-shadow(1px, 1px, 1px, white);
		}

	}
	
	
	#paper {
		margin: 160px 0 0 0;
	}
}
