@import "base";

body {
	background-color: #948a81;	
	// background-color: #00edd0;
	
}

#content-container {
	position: relative;
	margin: 0 auto;
	width: 800px;
	padding: 0;
	height: auto;
	
	header {
		display:block;
		margin: 0;
		padding: 10px 0 30px 0;

		height: auto;
		
		#logo {
			margin: 0 0 0 36px;
			padding: 0;
			img {
				padding: 0;
				margin: 0;
			}			
		}
	}
	
	#main {
		display: block;
		height: 514px;

		#iphone {
			display: inline;
			position: relative;
			float: left;
			width: auto;
			height: auto;
			z-index: 1;
			// visibility: hidden;
			// margin: 0 55px 0 0;
		}
		#iphone-content {
			.screen {
				display: inline;
				position: absolute;
				left: 0;
				float:left;
				margin: 93px 0 0 22px;
				z-index: 5;
			}
			.hidden {
				display:none;
			}
		}
		
		#right-content {
			display: inline;
			float: left;
			width: auto;
			height: 5em;
			margin: 0 0 0 55px;
			#copy {
				font-family: 'VT323';
				margin: 38px 0 0 0;
				font-size: 20px;
				color: #544e49;
				// color: #21ffff;
				text-shadow: 1px 1px 1px gray;

				a {
					text-decoration: none;
					color: white;
					&:hover {
						color: #21ffff;
					}
				}

				#overview {
					margin: 0 0 24px 0;
					em {
						color: white;
					}
					
				}
				
				#bullets {
					color: white;
					font-size: 20px;
					line-height: 22px;
					font-weight: thin;
					em {
						color: #544e49;
						// color: #21ffff;
					}
				}
			}
			
			#shelf {
				margin: 24px 0 0 0;
			}
		}
	}
	
	footer {
		display: block;
		height: 10em;
		margin-top: 95px;
		
		#footer-container {
			width: 515px;
			height: 76px;
			margin: 0 auto;

			line-height: 0.9em;
			
			#line-1 {
				display: inline-block;
				margin: 0;
				line-height: 0.5;
				img {
					margin: 0;
					padding: 0;
				}
			}
			#line-2 {
				display: inline-block;
				float:left;
				#more {
					display: inline;
					float:left;
					margin: 0 7px 0 0;			
				}
				#email {
					display: inline;
					float:left;
					margin: 0 8px 0 0;				
				}
				#twitter {
					display: inline;
					float:left;
				}
			}
		}
	}
	
	
	
	
	
}









