@import "base";

body {
	background-color: #948a81;
}

#content-container {
	position: relative;
	margin: 0 auto;
	width: 800px;
	padding: 0;
	height: auto;
	
	header {
		display:block;
		margin: 0;
		padding: 10px 0 30px 0;

		height: auto;
		
		#logo {
			margin: 0 0 0 36px;
			padding: 0;
			img {
				padding: 0;
				margin: 0;
			}			
		}
	}
	
	#main {
		display: block;
		height: 514px;

		#iphone {
			display: inline;
			position: static;
			float: left;
			width: auto;
			height: auto;
			// margin: 0 55px 0 0;
		}
		#iphone-content {
			.screen {
				display: inline;
				position: absolute;
				left: 0;
				float:left;
				margin: 93px 0 0 23px;
				z-index: 5;
			}
			.hidden {
				visibility: hidden;
			}
		}
		
		#right-content {
			display: inline;
			float: left;
			width: auto;
			height: 5em;
			margin: 0 0 0 55px;
			#copy {
				margin: 38px 0 0 0;
			}
			#shelf {
				margin: 24px 0 0 0;
			}
		}
	}
	
	footer {
		display: block;
		height: 10em;
		margin-top: 95px;
		
		#footer-container {
			width: 515px;
			height: 76px;
			margin: 0 auto;

			line-height: 0.9em;
			
			#line-1 {
				display: inline-block;
				margin: 0;
				line-height: 0.5;
				img {
					margin: 0;
					padding: 0;
				}
			}
			#line-2 {
				display: inline-block;
				float:left;
				#more {
					display: inline;
					float:left;
					margin: 0 7px 0 0;			
				}
				#email {
					display: inline;
					float:left;
					margin: 0 8px 0 0;				
				}
				#twitter {
					display: inline;
					float:left;
				}
			}
		}
	}
	
	
	
	
	
}









