@import "base";
@import "compass/css3";

body {
	background-color: #abc4ce;
	font-family: 'VT323';
}

#background {
	display:block;
    clear:both;
	position: absolute;    
	height: 610px;
	width: 4000px;
	background: #68e3e7 url('/images/buildings.png') repeat-x bottom left;
	border-bottom: 2px solid #c4d6dd;	
}
.clouds {
	margin: 50px 0 0 300px;
	display: inline;
	float: left;
	position: absolute;
	clear: both;
}


#main-container {
	width: 3000px; 
	height: auto;
	display: block;
	clear: both;
	float: left;
	// background-color: pink;

}

.content-container {
	display: inline;
	position: relative;    
	float: left;
	width: auto;
	height: auto;
	// background-color: yellow;
}

// ===========
// = Block-1 =
// ===========
#block-1 {
	margin: 0 0 0 200px;
	height: auto;
	width: auto;
	position: relative;
	display: inline;
	float: left;
	// clear: both;
	// background-color: orange;
	#logo {
		clear: both;
		display: block;
		position: relative;
		margin: 20px 0 20px 0;
		padding: 0;
		// background-color: blue;
		text-align: center;
		img {
			padding: 0;
			margin: 0;
			// background-color: red;
		}		
		clear: both;	
	}
	
	#iphone {
		display: inline;
		position: relative;
		float: left;
		width: auto;
		height: auto;
		z-index: 1;
		// background-color: green;
		margin: 0;
		padding: 0;
		
		#iphone-body {
			display: inline;
			position: relative;
			float: left;
			
		}
		
		#iphone-content {
			.screen {
				display: inline;
				position: absolute;
				left: 0;
				float:left;
				margin: 93px 0 0 22px;
				z-index: 5;
			}
			.hidden {
				display:none;
			}
		}
	}
}


// ===========
// = Block-2 =
// ===========
#block-2 {
	display: inline;
	position: relative;
	float: left;
	height: auto;
	width: auto;
	// background-color: red;
	
	#trophy-parade {
		display: block;
		position: relative;
		// clear: both;	
		height: auto;
		width: auto;
		margin: 190px 0 0 0;
		.trophies {	
			margin: 115px 0 0 0;
		}
		#trophy-1 {
			margin: 74px 0 0 0;
		}
		#trophy-2 {
			margin: 79px 0 0 0;
			// background-color: green;
		}
		#trophy-3 {
			// background-color: pink;	
		}
		#trophy-4 {
			margin: 41px 0 0 0;
		}
		#note {
			margin: 0 0 0 80px;
		}
	}
	
	#runner-container {
		display: block;
		position: static;
		float:left;
		height: 51px;
		width: 100%;
		background-color: magenta;

		#runner {
			position: fixed;
		}
	}	
}


// 		
// 		#right-content {
// 			display: inline;
// 			float: left;
// 			width: 600px;
// 			height: 5em;
// 			margin: 0 0 0 55px;
// 			background-color: blue;
// 			#copy {
// 				font-family: 'VT323';
// 				margin: 11px 0 0 0;
// 				font-size: 20px;
// 				// color: #544e49;
// 				color: white;
// 				// color: #21ffff;
// 				text-shadow: 1px 1px 1px #c1c1c1;
// 
// 				a {
// 					text-decoration: none;
// 					color: #6820de;
// 					text-shadow: none;
// 					&:hover {
// 						color: #b78ff8;
// 					}
// 				}
// 
// 				#overview {
// 					margin: 0 0 24px 0;
// 					em {
// 						color: white;
// 					}
// 					
// 				}
// 				
// 				#bullets {
// 					color: white;
// 					font-size: 20px;
// 					line-height: 22px;
// 					font-weight: thin;
// 					em {
// 						color: #544e49;
// 						color: white;
// 						// color: #21ffff;
// 					}
// 				}
// 			}
// 			
// 			#shelf {
// 				margin: 24px 0 0 0;
// 			}
// 		}
// 	}
// 	
// 	#footer {
// 		display: block;
// 		position: fixed;
// 		height: 10em;
// 		margin-top: 95px;
// 		
// 		#footer-container {
// 			width: 515px;
// 			height: 76px;
// 			margin: 0 auto;
// 
// 			line-height: 0.9em;
// 			
// 			#line-1 {
// 				display: inline-block;
// 				margin: 0;
// 				line-height: 0.5;
// 				// background-color: red;
// 				img {
// 					margin: 0;
// 					padding: 0;
// 				}
// 			}
// 			#line-2 {
// 				display: inline-block;
// 				float:left;
// 				// background-color: yellow;
// 				#more {
// 					display: inline;
// 					float:left;
// 					margin: 0 7px 0 0;			
// 				}
// 				#email {
// 					display: inline;
// 					float:left;
// 					margin: 0 7px 0 0;				
// 				}
// 				#twitter {
// 					display: inline;
// 					float:left;
// 				}
// 			}
// 		}
// 	}
// 	
// }
// 
// // ===========
// // = Block-2 =
// // ===========
// #block-2 {
// 	
// }
// 
// 
// 
// // ==========
// // = Footer =
// // ==========
// #footer {
// 	p {
// 		color: white;
// 	}
// }
// 
// 
// 
// 
// 